/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

.full-width {
    width: 100%;
}

.mat-title {
    font-weight: 500 !important;
    font-size: 20px !important;
}
.mat-header {
    width: 100%;
    height:15px;
}

.small-input {
    width: 165px;
}

