/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

.full-width {
    width: 100%;
}

.mat-title {
    font-weight: 500 !important;
}
.mat-header {
    width: 100%;
    height:15px;
}

.small-input {
    width: 165px;
}

.plain-text-button{
    background:none!important;
    color:inherit;
    border:none;
    padding:0!important;
    font-size: 12px;
    cursor: pointer;
}

.plain-text-button:hover{
  color : rgba(86, 84, 87, 0.78);
}

.spaced-column{
    height: 62px;
}

.shallow-bottom{
  padding-bottom: 12px!important;
}
